/* CSS Document */
.righ_logo{
width:340px;
height:90px;
border-radius:0px 5px 5px 0px;
margin-left: 100%;

}

.gro img {
  height: 65px;
  width: 65px;
  margin-left: 100%;
  border-radius: 50% 50%;
  box-shadow:4px 4px 12px #111;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
} 
.gro img:hover {
  width: 200px;
  height: 80px;
  border-radius: 5px;
  cursor:pointer;
}